.header {
    grid-area: head;
    background-color: #0f4351;
  }
.header img {
  margin-left: 20px;
  margin-top: 7px;
  width: 45px;
}
.loginBlock {
  float: right;
  margin: 15px 50px 10px auto;
  color: #fff;
}
.loginBlock a{
  text-decoration: none;
  color: #fff;
}
.btn {
  padding: 5px 20px;
  cursor: pointer;
  background-color: #0F4351;
  border: solid #d5dfe2 2px;
  border-radius: 20px;
  color: #fff;
  margin: 0px 10px 0px 10px;
}
.btn:hover {
  color: #0F4351;
  background-color: #d5dfe2;
  border-color: #0f4351;
}
