.head {
    margin: 10px 0px 30px 20px;
}

.form {
    margin-left: 20px;
}
.login{
    width: 250px;
    padding: 5px;
}
.password{
    margin-top: 20px;
    width: 250px;
    padding: 5px;
}
.rememberMe{
    margin-top: 15px;
}
.loginBtn {
    padding: 5px 20px;
    width: 120px;
    cursor: pointer;
    background-color: #0F4351;
    border: solid #0F4351 2px;
    border-radius: 20px;
    color: #fff;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .loginBtn:hover {
    color: #0F4351;
    background-color: #d5dfe2;
    border-color: #0f4351;
  }