.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: #fff;
}
.dialogsItems .active {
    color: #46ADCC;
}
/* .dialog {
    
} */
.messages {
    padding: 10px;
}
.messages .message {
    color: #000;
}
.area {
    width: 400px;
    height: 100px;
    margin: 50px 10px 0px 0px;
  }
  .btn {
    padding: 5px 20px;
    cursor: pointer;
    background-color: #0F4351;
    border: solid #0F4351 2px;
    border-radius: 20px;
    color: #fff;
    margin: 5px 10px 30px 0px;
  }
  .btn:hover {
    color: #0F4351;
    background-color: #d5dfe2;
    border-color: #0f4351;
  }